/*update hstry css 07/04/17 - 09.34 AM*/

body{
margin: 0;
padding: 0;
width: 100%;
}
.title-hstry {
	font-family:'notera_personal_use_onlyRg';
	font-weight:normal;
	font-size: 80px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	bottom:85px;
	position: relative;
}
.prgrph-hstry {
	font-family: 'latolight';
	font-weight:normal;
	font-size: 15px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	line-height: 20px;
  bottom:40px;
  position: relative;
}
.btn-hstry {
	width: 200px;
	margin: 0 auto;
	top: 20px;
	position: relative;
	box-shadow:0px 1px 2px #000;
	-webkit-box-shadow:0px 1px 2px #000;
	-moz-box-shadow:0px 1px 2px #000;
	-o-box-shadow:0px 1px 2px #000;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	background-color: #fff;
	font-family: 'latolight';
	text-transform: uppercase;
	padding: 10px 18px 10px 0px;
	text-align: center;
	color: #143156;
}
.btn-hstry > a {
	color: #143156;
  padding: 10px 33px 10px 20px;
}
.btn-hstry .arrowdown-hstry {
	position: absolute;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 1px solid #143156;
    border-bottom: 1px solid #143156;
    margin-left: -21px;
}
.btn-hstry-second {
	text-align: center;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 999999999;
	margin-top: 30%;
}
.vrtcl-line {
	height: 100%;
	border:1px solid #fff;
	margin:0 auto;
	width: 1px;
	margin-top: 10px;
}
.height-line {
	height: 125rem;
	position: absolute;
	left: 0;
	right: 0;
}
h1.title-years{
	font-family: 'nimbus';
	color: #143156;
	font-size: 120px;
	text-decoration: underline;
	margin-left: 69px;
	margin-top: -77px;
	position: absolute;
	z-index: 2;
	font-style: italic;
  width: 100%;
}
.row.mrgn-hstry {
	margin-top: 17% !important;
}
.shadow-img-hstry {
	box-shadow: 5px -3px 4px #908e8e;
	-moz-box-shadow: 5px -3px 4px #908e8e;
	-webkit-box-shadow: 5px -3px 4px #908e8e;
	-o-box-shadow: 5px -3px 4px #908e8e;
}
.desc-hstry {
	width: 500px;
	background-color: #fff;
	padding: 40px 20px 40px 50px;
	box-shadow: 2px 3px 5px grey;
	-webkit-box-shadow :2px 3px 5px grey;
	-moz-box-shadow:2px 3px 5px grey;
	-o-box-shadow:2px 3px 5px grey;
	left: -24px;
	position: relative;
	top: -37px;
}
.wrap-hstry {
	z-index: 1 !important;
	position: absolute;
}
.img-hstry-right {
	left: 0;
	right: 0;
	margin-left: -9px;
}
h1.sub-title-years {
	font-size: 50px;
}
.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
#bck-hstry a { position:relative;color: #fff; float: left; font-size: 13px; margin-top: 20px; color: #fff; font-family:'latolight'; }
.quotes {
font-family: 'Goudy Bookletter 1911', serif;
font-weight: normal;
font-size: 30px;
text-align: left;
margin: 50px auto;
}
#menara-astra { background: url('../images/logo.png')no-repeat; width: 100px; height: 113px; margin: 0 auto; position: relative; bottom: 147px;}
#slide1, #slide2{ width: 100%; }
#slide1{
background:url('../images/slide1.jpg') 50% 0 no-repeat fixed;
color: #fff;
height: 100%;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#slide2{
background: url(../images/slide2.jpg) 0 0 no-repeat fixed;
color: #333333;
height: 100%;
background-size: cover;
margin: 0 auto;
overflow: hidden;
padding: 0px 0px 11% 0px;
}
#slide3{
background: url(../images/slide3.jpg) 50% 0 no-repeat fixed;
color: #fff;
height: 700px;
background-size: cover;
}
#slide4{
background: url(../images/slide5.jpg) 0 0 no-repeat fixed;
background-size: cover;
color: #333333;
height: 100%;
margin:0 auto;
padding: 0px 0px 11% 0px;
}
#slide5{
background-color: #fff;
height: 200px;
margin: 0 auto;
padding: 250px 0;
color: #fff;
background-size: cover;
}


/*DOT*/
/* No Touch devices */

.selected {
  background-color: #fff;
}


.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
.no-touch #cd-vertical-nav a.is-selected .cd-dot {
  background-color: #fff;
}
.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #173A60;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: #173A60;
  background-color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  padding-right: 20px;
  right: -15px;
  z-index: -1;
}

/* Touch devices */
.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}
.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}
/*END DOT*/



@media only screen and (max-width: 350px){
  .height-line {
    height: 110rem;
  }
}


@media only screen and (max-width: 500px){

}


@media only screen and (max-width: 799px){
  .height-line {
    height: 100rem;
  }
}


@media only screen and (max-width: 1024){
  .height-line {
    height: 120rem;
  }
}