/* --------------SLICK------------------ */
  .slider {
    width: 100%;
    height: 100%;
    margin:0 auto;
  }

.slider .item {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
}

.slider .item h2 {
  position: absolute;
}

.controller {
  text-align:center;
  width: 90%;
  margin:0 auto;
}

.controller span {
  font-size: 50px;
  display: inline-block;
  color:#59ae15;
  cursor: pointer;
  margin-top:-250px;
}

.prev {
  float: right;
}

.next{
  float: left;
}

/*-------------------END SLICK-----------------------*/